.sideBar {
    width: 20%;
    height: 100%;
    padding-bottom: 9rem;
    color: rgb(var(--font-color));
    transition: all 0.5s ease;
    overflow: hidden;
}

li {
    list-style: none;
}

li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    color: rgb(var(--font-color));
}

li img {
    width: 60%;
    height: auto;
}

.close,
.open {
    transition: all 0.3s ease-in-out;
}

.close {
    animation: close 0.3s ease-in-out forwards;
}

.open {
    animation: open 0.3s ease-in-out forwards;

}

@keyframes close {
    from {
        width: 20%;
    }

    to {
        width: 0;
    }
}

@keyframes open {
    from {
        width: 0;
    }

    to {
        width: 20%;
    }
}