.sideBar {
    width: 20%;
    height: 100%;
    padding-bottom: 9rem;
    color: rgb(var(--font-color));
    transition: all 0.5s ease;
    overflow: hidden;
}

li {
    list-style: none;
}

li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    color: rgb(var(--font-color));
}

li img {
    width: 60%;
    height: auto;
}

.close,
.open {
    transition: all 0.3s ease-in;
}

.close {
    animation: close 0.3s linear forwards;
}

.open {
    animation: open 0.3s linear forwards;

}

@media screen and (min-width: 1024px) {
    @keyframes close {
        from {
            width: 20%;
        }

        to {
            width: 0;
            height: 0;
        }
    }

    @keyframes open {
        from {
            width: 0;
            height: 0;
        }

        to {
            width: 20%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .sideBar {
        width: 100%;
        height: 100vh;
        color: rgb(var(--font-color));
        /* transition: all 0.5s ease; */
        overflow: hidden;
        background: #fff;
        z-index: 999;
    }

    li {
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        overflow: hidden;
        color: rgb(var(--font-color));
    }

    li img {
        width: 30%;
        height: auto;
    }

    .close,
    .open {
        transition: all 0.3s ease-in-out;
    }

    .close {
        animation: close 0.3s ease-in-out forwards;
    }

    .open {
        animation: open 0.3s ease-in-out forwards;
    }

    .hidden {
        display: none;
    }

    @keyframes close {
        from {
            width: 100%;
            z-index: 999;
            position: fixed;
        }

        to {
            width: 0;
            display: none;
        }
    }

    @keyframes open {
        from {
            width: 0;
            height: 100vh;
        }

        to {
            width: 100%;
            z-index: 999;
            position: fixed;

        }
    }
}