.navContainer {
    width: 100%;
    background: #4985AD;
    display: flex;
    flex-direction: row;
}

/* .navContainer div {
    height: 100%;
} */

img {
    width: 100%;
    height: 100%;
}

.navPages div:not(.hamburguerMenu) {
    height: 3.5rem;
}

.hamburguerMenu {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.pages {
    display: flex;
}

.navPageOption {
    transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {

    .navPages {
        justify-content: center;
    }

    .hamburguerMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    .pages {
        display: none;
    }

    .hamburguerMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
}